@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-grow">
    <div class="w-1/2 m-16">
        <h1 class="">Hello, world!</h1>

        <p class="">Welcome to your new app.</p>

        <SurveyPrompt Title="How is Blazor working for you?" />
    </div>
    <div class="w-1/2 m-16">
        <SlideIn>
            <Tailwind />
        </SlideIn>
    </div>
</div>
