<div class="transform -rotate-3 mt-20 w-full flex items-center -ml-full rounded-3xl shadow-lg bg-gradient-to-br from-purple-500 to-purple-600 p-8 text-purple-50">
    <svg class="stroke-current text-purple-200 h-12 mr-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
    <div>
        <h3 class="font-bold text-white">@Title</h3>
        <div>Please take our <a class="underline font-semibold" target="_blank" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief survey</a> and tell us what you think.</div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
