<div class="h-full flex items-center bg-gradient-to-br from-green-400 to-blue-500 rounded-3xl shadow-lg items-center justify-center">
    <div class="bg-white dark:bg-gray-800 rounded-full h-80 w-80 items-center justify-center flex shadow-lg">
        <img src="tailwind-css-logo.png" alt="Tailwind CSS logo" class="h-32" />
    </div>
</div>